[flake8]
max-line-length = 88
exclude = .git,__pycache__,__init__.py,.mypy_cache,.pytest_cache
inline-quotes = double
type-checking-pydantic-enabled-baseclass-passlist = NamedTuple, TypedDict
extend-immutable-calls = Depends, Path, Query, Body
classmethod-decorators = classmethod, validator
ignore = ANN101, D100, D101, D102, D103, D400, FS003, TC002
per-file-ignores =
    alembic/env.py: E800
